{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>{{ message }}</h1>
    <fieldset>
        <legend>Register Here</legend>
        <form method="post" action="/createUser">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
            <input type="text" name="repassword" placeholder="Confirm Password">
            <button>Register</button> <button>Reset</button>
        </form>
    </fieldset>
    
</body>
</html>