{% load static %}
{% include "base.html" %}
{% block content %}
<body xmlns="http://www.w3.org/1999/html">
<h3>Dash Board</h3>
<div style="float:left">
<fieldset style="width:500px">
<legend>Booking</legend>
    <table>
        <tr>
            <td>SL</td>
            <td>Month</td>
            <td>C,Notes</td>
            <td>Weight</td>
        </tr>
    </table>

</fieldset>
</div>
<div style="float:left">
<fieldset style="width:500px">
    <legend>Loading</legend>
    <table>
        <tr>
            <td>SL</td>
            <td>Month</td>
            <td>C,Notes</td>
            <td>Weight</td>
        </tr>
    </table>
</fieldset>
</div>
</div>
</body>
{% endblock %}

